body {
  background-color: #ddd;
}

#playarea {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

#playarea > div {
  background-color: #fff;
}

#playarea > div:nth-of-type(2n) {
  background-color: #eee;
}

#playarea > div.player1 {
  background-image: url(circle.svg);
  background-size: contain;
}

#playarea > div.player2 {
  background-image: url(cross.svg);
  background-size: contain;
}
