body {
  background-color: #ddd;
}

#playarea {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

#playarea > div {
  background-color: rgb(129, 129, 242);
}

#playarea > div:nth-of-type(2n) {
  background-color: lightblue;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: green;
}
