@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;600&display=swap");

html {
  font-size: 22px;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #333;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

a:hover {
  color: #ff0000;
}

p {
  margin: 0;
  margin-bottom: 24px;
}

h1,
h2 {
  margin-top: 16px;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 32px;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 12px;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

ul li {
  list-style-type: none;
  line-height: 1.8rem;
}

main {
  padding: 40px;
}

hr {
  border: 1px solid #666;
  margin-top: 40px;
  margin-bottom: 40px;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9em;
  color: #666;
  background-color: #eee;
  padding: 4px;
}

footer {
  border-top: 2px solid #666;
  margin-top: 40px;
  padding: 40px;
}
